@import '/src/styles/globals.scss';
.form_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2px;
}
.label {
  margin-bottom: 3px;
  font-style: normal;
  font-size: 11px;
  color: #333;
  font-weight: bolder;
  margin-right: 85%;
}

.text_area {
  position: relative;
  width: 100%;
  margin-bottom: 2px;
}
