@import '/src/styles/globals.scss';
// .wrapper {
//   position: relative;
//   width: 100%;
//   margin:-67px 0 0 16px;
//   overflow: hidden;
//   @include hide-scrollbars;
//   &::-webkit-scrollbar {
//     display: none;
//   }
//   &::before,
//   &::after {
//     content: '';
//     position: fixed;
//     width: 35em;
//     height: 10em;
//     z-index: -1;
//   }
// }
.wrapper {
  position: relative;
  width: 100%;
  margin:-67px 0 0 16px;
  scrollbar-width: none;
}
.wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper::before,
.wrapper::after {
  content: '';
  position: fixed;
  width: 35em;
  height: 10em;
  z-index: -1;
}