.divider {
  width: 107%;
  background: #80808085;
  height: 1px;
  margin: -17px auto 19px -21px;
}
.divider-xs {
  width: 10%;
}
.divider-s {
  width: 107%;
}

.divider-m {
  width: 50%;
}

.divider-l {
  width: 100%;
}
