@import '/src/styles/globals.scss';

.screen__background {
  fill-opacity: 0.1;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 367px;
  background: #ffffff;
  border-radius: 33px;
  box-shadow:
    -4px 2px 8px 0 rgba(0, 0, 0, 0.2),
    0 3px 18px 0 rgba(0, 0, 0, 0);
  padding: 5vw;
  box-sizing: border-box;
  padding-top: 0vw;
  max-height: 150%;
  margin: 1px;
  margin-top: 1px;
  margin-top: auto;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.logoAO {
  display: block;
  margin-top: -1vw !important;
  width: 70%;
  margin-bottom: 2vw;
}

.highlight {
  color: rgb(242, 138, 71);
}
